* {
  margin: 0;
}

.first {
  display: flex;
  justify-content: space-between;
  margin: 40px 80px;
  width: auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.nav h4 {
  color: #000;
  font-family: "Space Grotesk";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 140% */
}

.qoute {
  display: flex;
  padding: 20px 35px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 14px;
  border: 1px solid var(--Dark, #191a23);
}

.second {
  display: flex;
  flex-shrink: 1;
  margin: 80px 100px;
}

.s-img,
.s-txt {
  width: 50%;
}
.s-img {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.s-txt {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.navigating {
  color: #000;

  /* h1 */
  font-family: "Space Grotesk";
  font-size: 60px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.our {
  color: #000;
  font-family: "Space Grotesk";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 140% */
}

.first-button {
  display: flex;
  padding: 20px 35px;
  align-items: center;
  gap: 10px;
  border-radius: 14px;
  background: var(--Dark, #191a23);
  color: #fff;
  text-align: center;
  font-family: "Space Grotesk";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 140% */
  width: 250px;
}

.brand-logos img {
  width: 126.369px;
  height: 48px;
  flex-shrink: 0;
  mix-blend-mode: luminosity;
  filter: grayscale(100%);
}

.brand-logos {
  display: flex;
  justify-content: space-around;
  margin: 100px 100px;
}

.drop {
  display: none;
}

.s-imgg {
  display: none;
}

.break {
  display: none;
}

.third {
  display: flex;
  justify-content: start;
  gap: 30px;
  margin: 100px;
}

.case {
  display: flex;
  padding: 0px 7px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 7px;
  background: var(--Green, #b9ff66);
  color: #000;

  /* h2 */
  font-family: "Space Grotesk";
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.explore {
  color: #000;

  /* p */
  font-family: "Space Grotesk";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 580px;
  flex-shrink: 0;
}

.fourth {
  margin: 100px;
  display: flex;
  padding: 70px 60px;
  align-items: flex-start;
  gap: 64px;
  border-radius: 45px;
  background: var(--Dark, #191a23);
}

.f h1 {
  color: #fff;

  /* p */
  font-family: "Space Grotesk";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.f p {
  color: var(--Green, #b9ff66);
  font-family: "Space Grotesk";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 140% */
}

.vl {
  width: 1px;
  height: 186px;
  background: #fff;
}

.fifth {
  display: flex;
  width: auto;
  padding: 41px 60px;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  border-radius: 45px;
  border: 1px solid #191a23;
  background: var(--Green, #b9ff66);
  box-shadow: 0px 5px 0px 0px #191a23;
  margin: 30px 100px;
}
.f1 p {
  color: #000;
  font-family: "Space Grotesk";
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 612px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 30px;
}

.sixth {
  display: flex;
  width: auto;
  padding: 41px 60px;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  border-radius: 45px;
  border: 1px solid #191a23;
  background: var(--Grey, #f3f3f3);
  box-shadow: 0px 5px 0px 0px #191a23;
  margin: 30px 100px;
}
.f2 p {
  color: #000;
  font-family: "Space Grotesk";
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 612px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 30px;
}
.one {
  color: #000;
  font-family: "Space Grotesk";
  font-size: 60px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.f1 {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 30px;
}

.f2 {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 30px;
}

.last {
  display: flex;
  padding: 55px 60px 50px 60px;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
  margin: 150px 100px 0px 100px;
  border-radius: 45px 45px 0px 0px;
  background: var(--Dark, #191a23);
}

.branding {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 155px;
  justify-content: space-between;
  margin-bottom: 30px;
}

.features {
  display: flex;
  gap: 50px;
}

.imgs {
  display: flex;
  gap: 20px;
}

.feats {
  color: #fff;
  font-family: "Space Grotesk";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

.l1 {
  display: flex;
  width: 180px;
  height: 29px;
  justify-content: center;
  align-items: center;
  gap: 10.593px;
  flex-shrink: 0;
}

.c {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #000;

  /* h4 */
  font-family: "Space Grotesk";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  padding: 0px 7px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 7px;
  background: var(--Green, #b9ff66);
  width: fit-content;
  margin-bottom: 10px;
  padding: 10px;
}

.e {
  color: #fff;

  /* p */
  font-family: "Space Grotesk";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 10px;
}

.a {
  color: #fff;

  /* p */
  font-family: "Space Grotesk";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.contact {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.txts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 27px;
}

.e-box p {
  color: #fff;

  /* p */
  font-family: "Space Grotesk";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.submit {
  display: flex;
  padding: 20px 35px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 14px;
  background: var(--Green, #b9ff66);
}

.submit p {
  color: var(--Black, #000);
  text-align: center;
  font-family: "Space Grotesk";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 140% */
}

.mail {
  display: flex;
  padding: 58px 40px;
  align-items: flex-start;
  border-radius: 14px;
  background: #292a32;
  justify-content: space-between;
  gap: 30px;
  align-items: center;

}

.e-box {
  display: flex;
  width: 200px;
  padding: 22px 35px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 14px;
  border: 1px solid #fff;
}


.rights{
    display: flex;
    width: 100%;
align-items: center;
justify-content: center;
gap: 40px;
border-top: 2px solid white;
}

.r1{
    color: #FFF;
font-family: "Space Grotesk";
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 155.556% */
padding-top: 20px;
}

.r2{
    padding-top: 20px;
    color: #FFF;
font-family: "Space Grotesk";
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 155.556% */
text-decoration-line: underline;
text-decoration-style: solid;
text-decoration-skip-ink: none;
text-decoration-thickness: auto;
text-underline-offset: auto;
text-underline-position: from-font;
}


@media screen and (max-width: 430px) {
  .nav {
    display: none;
  }

  .third {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .case {
    display: flex;
    padding: 0px 7px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 7px;
    background: var(--Green, #b9ff66);
    color: #000;

    /* h2 mob */
    font-family: "Space Grotesk";
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .explore {
    color: #000;
    text-align: center;

    /* p mob */
    font-family: "Space Grotesk";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    width: 390px;
  }

  .first {
    margin: 40px;
  }

  .drop {
    text-align: right;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .second {
    flex-direction: column;
    margin: 20px;
  }

  .navigating {
    color: #000;

    /* h1 mob */
    font-family: "Space Grotesk";
    font-size: 43px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 390px;
  }

  .s-imgg {
    display: flex;
    width: auto;
    margin: 20px;
  }

  .s-imgg img {
    width: 80vw;
    text-align: center;
  }

  .our {
    color: #000;

    /* p mob */
    font-family: "Space Grotesk";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    width: 390px;
    margin-bottom: 30px;
  }

  .first-button {
    margin-bottom: 30px;
  }

  .s-img {
    display: none;
  }

  .brand-logos {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    gap: 30px;
    margin: 20px;
    overflow: hidden;
  }
}
